body {
    color: white;
    background-color: rgb(43, 62, 78);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Header {  
    width: 100%;
    background-color: rgb(181, 181, 181);
    border: rgba(193, 11, 11, 0.805) solid;
}   
 
  .Logo {
    width: 10vw;
  }

  .linkList {
    float:right;
    list-style: none;
    margin-right: 50px;
  }

  /* homepage */

.homeTitle {
    text-align: center;
    margin-bottom: 3%;
}

.reviewList {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.Container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas: 
    'img title'
    'img designer'
    'img author';
    border-bottom: solid silver;
    margin-bottom: 1.5%;
    text-decoration: none;
    color: white;
}

#reviewImgs {
    grid-area: img;
    width: 50vh;    
}

#reviewTitles { 
    margin-top: 0;
    font-size: large;
    grid-area: title;
}
#reviewDesigners {
    grid-area: designer;
    color: lightgray;
}

#reviewAuthors {
    grid-area: author;

}
#reviewDates {
    font-size: smaller;
    grid-area: date;
    color: lightgray;
}

/* individual review */

.reviewTitle {
    text-align: center;
}

.reviewContainer {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-areas: 
    "img body"
    "designer body"
    ". votes";
}

.reviewImg {
grid-area: img;
 width: 40vw;
}

.reviewBody {
margin-left: 5%;
grid-area: body;
}

.reviewDesigner {
grid-area: designer;
}

/* comment section */

.commentsContainer {
    width: 100%;;
    color: black;
    background-color: rgb(183, 200, 247);
    border: solid navy;
    padding-bottom: 1%;
}

.commentsTitle{
    margin-left: 2.5rem;
    font-size: x-large;
}

.Comments {
    list-style: none;
    display: grid;
    grid-template-rows: 30px auto auto;
    grid-template-columns: 10vh auto;
    grid-template-areas: 
    "pic author"
    ". body"
}

.commentPic {
    grid-area: pic;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
}

.commentAuthor {
    grid-area: author;
    font-size: larger;
    display: inline-block;
}

.commentDate {
    margin-left: 5px;
    display:inline-block;
    font-size: medium;
    color: rgb(65, 65, 65);
}

.commentBody {
    grid-area: body;
    display: flex;
}

/* votes section */

.voteContainer {
   grid-area: votes;
}

.voteButton {
    cursor: pointer;
    border: none;
    background-color: rgb(183, 200, 247);
}

.upvote {
    width: 1vw;
    height: 2vh;
}

.downvote {
    width: 1vw;
    height: 2vh;
}

.reviewVoteButton {
    cursor: pointer;
    border: none;
    background-color:  rgb(43, 62, 78);
}

.reviewVoteContainer {
    grid-area: last-line;
}
