body {
    background-color: rgb(156, 172, 186);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top-section {
    background-color: rgb(165, 249, 192);
    border: rgba(193, 11, 11, 0.805) solid;
}   

#top-section::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    margin-left: 2%;
    color: rgba(193, 11, 11, 0.805);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
  }
  .linkList {
    float:right;
    list-style: none;
    margin-right: 50px;
  }
/* main body */
.review{
    margin-top: 20px;
    margin-bottom: -10px;
    display: grid;
    grid-template-columns: 60% 5% 30%;
    grid-template-rows: 20px 280px;
    grid-template-areas: 
    "title . img" 
    "body . img" ;   
}
.reviewList {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: dashed indigo;
}

.reviewBody {
    grid-area: body;
}
.reviewImg {
    grid-area: img;
    width: 100%;
    height: 70%;
}     

.reviewTitle {
    grid-area: title;
    font-weight: bold;
    list-style-type: none;
    text-decoration: underline;
}